<div class="card">
  <%= cl_image_tag booking.yacht.photos.first.path, :transformation=>[
    {:width=>400, :height=>400, :radius=>"max", :crop=>"crop"},
    {:width=>100, :crop=>"scale"}
  ] %>
  <h3><%= booking.yacht.name %></h3>
  <p><%= booking.guests %> guests</p>
  <p><%= booking.yacht.price %>$ per day</p>
  <p><%= booking.yacht.location %></p>
   <button type="submit" class="btn btn-default"><%= link_to 'More details', booking_path(booking) %></button>
</div>
