<div class="card">
  <p class="carrousel-image"><%= render 'shared/carousel_index', yacht: yacht %></p>
  <p><%= yacht.name %>
	  <% (yacht.average_rating.to_i).times do %>
	    <i class="fa fa-star" aria-hidden="true"></i>
	  <% end %>
  <p><%= yacht.length %>m</p>
  <p><%= yacht.capacity %> people</p>
  <p><%= yacht.price %>$ per day</p>
  <p>Location: <%= yacht.location %></p>
   <button type="submit" class="btn btn-default"><%= link_to 'More details', yacht_path(yacht, query: { location: params[:query][:location], start_date: params[:query][:start_date], end_date: params[:query][:end_date], guests: params[:query][:guests] }) %></button>
</div>
