<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= current_user.first_name %></h3>
      <h3><%= current_user.last_name %></h3>
        <%= image_tag(current_user.avatar) %>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "New Boat",  new_yacht_path, class: "btn btn-primary" %>
        <%= link_to "My Boats", "#", class: "btn btn-primary"  %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% current_user.yachts.each do |yacht| %>
        <div class="col-xs-12 col-md-4">
          <%= render 'shared/yacht_card', yacht: yacht %>
        </div>
      <% end %>
    </div>
  </div>


  
</div>
