<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= current_user.first_name %></h3>
      <h3><%= current_user.last_name %></h3>
        <%= image_tag(current_user.avatar) %>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "New Boat",  new_yacht_path, class: "btn btn-primary" %>
        <%= link_to "My Boats", "#", class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <% current_user.yachts.each do |yacht| %>
        <%= yacht.name%>
        <%= yacht.price %>
        <%= yacht.cabins %>
        <%= yacht.description %>
        <%= yacht.location %>
        <%#= image_tag yacht.photos %>
        <%= yacht.length %>
        <%= yacht.width %>
        <%= yacht.capacity %>
        <%= yacht.price %>
        <%= yacht.air_c %>
        <% end %>
      </div>
  </div>
</div>
