<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= current_user.first_name %></h3>
      <h3><%= current_user.last_name %></h3>
        <%= image_tag(current_user.avatar) %>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "New Boat",  new_yacht_path, class: "btn btn-primary" %>
        <%= link_to "My Boats", "#", class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
  <div class="row">
        <%# Yacht.where('user_id = ?', current_user[:id]).each do |yacht| %>
    <% current_user.yachts.each do |yacht| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <ul class="list-unstyled">
              <li>Name: <%= yacht.name%> </li>
              <li>Price: $<%= yacht.price %> </li>
              <li>Cabins: <%= yacht.cabins %> </li>
              <li>Description: <%= yacht.description %> </li>
              <li>Location: <%= yacht.location %> </li>
            <%#= image_tag yacht.photos %> </li>
              <li>Length: <%= yacht.length %> </li>
              <li>Width: <%= yacht.width %> </li>
              <li>Capacity: <%= yacht.capacity %> </li>
              <li>Price: <%= yacht.price %> </li>
              <li>Air-C: <%= yacht.air_c %> </li>
            </ul>
          </div>
        </div>
    <% end %>

  </div>
</div>
