<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= current_user.first_name %></h3>
      <h3><%= current_user.last_name %></h3>
      <%= cl_image_tag current_user.avatar.path, :transformation=>[
        {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>100, :crop=>"scale"}
        ] %>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "New Boat",  new_yacht_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="tabs">
    <a class="tab active" data-target="#mybookings">
      <h3>My Bookings</h3>
      <p><%= current_user.customer_bookings.count %></p>
    </a>
    <a class="tab" data-target="#myyachts">
      <h3>My yachts</h3>
      <p><%= current_user.yachts.count %></p>
    </a>
    <% if current_user.yachts.count > 0 %>
      <a class="tab" data-target="#myreservations">
        <h3>My reservations</h3>
        <p><%= current_user.owner_bookings.count %></p>
      </a>
    <% end %>
  </div>

  <div class="container text-center">
    <div class="tab-content" id="mybookings">
      <div class="container">
          <div class="row">
            <% current_user.customer_bookings.each do |booking| %>
              <div class="col-xs-12 col-md-4">
                <%= render 'shared/booking_card', booking: booking %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div class="tab-content hidden" id="myyachts">
      <div class="container" id="my_yachts">
          <div class="row">
            <% current_user.yachts.each do |yacht| %>
              <div class="col-xs-12 col-md-4">
                <%= render 'shared/yacht_card', yacht: yacht %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div class="tab-content hidden" id="myreservations">
        <div class="container">
            <div class="row">
              <% current_user.owner_bookings.each do |booking| %>
                <div class="col-xs-12 col-md-4">
                  <%= render 'shared/reservation_card', booking: booking %>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>



</div>
