<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<div class="row">
  <% @yachts.each do |yacht| %>
    <div class="col-xs-12">
      <div class="card">
        <p><%= yacht.name %> - <%= yacht.length %>m</p>
        <p><%= yacht.capacity %> people</p>
        <p><%= yacht.price %>$/day</p>
        <%= link_to 'More details', yacht_path(yacht, location: params[:location], start_date: params[:start_date], end_date: params[:end_date]) %>
      </div>
    </div>
  <% end %>
</div>



<!-- rajouter en background image 1ere photo du yacht yacht.photos.first -->
<!-- en fonction de l'input barre recherche (location, date => available true false) -->
